* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: grey;
    padding: 9px;
    border-bottom: 1px solid black;
  }
  
  .icon {
    font-size: 20px;
  }
  
  .input {
    flex-grow: 0.9;
    border: 1px solid #000000;
    padding: 1px;
    font-size: 15px;
    border-radius: 8px;
  }
  
  
  
  .lower-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 2rem;
    padding: 7px;
  }
  
  .nav {
    display: flex;
    flex-direction: row;
    width: 85%;
    align-items: center;
    justify-content: right;
    gap: 2em;
  }
  
  .btn {
    width: 12em;
    height: 5vh;
    border: 1px solid black;
    background-color: rgb(220, 216, 216);
    border-radius: 12px;
    align-items: center;
    justify-content: right;
  }
  
  .search {
    display: flex;
    cursor: pointer;
    gap: 1em;
    border: 1px solid black;
    flex-direction: row;
    align-items: center;
    padding: 0 5px;
    height: 5vh;
    border-radius: 10px;
  }
  .search-input {
    border: none;
  }
  
  
  .main-content {
    height: 80vh;
    border: 1px solid black;
    border-bottom: 1px solid black;
  }
  
  
  .box-text {
    height: 25vh;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .text {
    font-style: italic;
    width: 20%;
    height: 70%;
    border: 1px solid black;
    background-color: rgb(220, 216, 216);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  
  .sec2 {
    width: 98%;
    height: 85vh;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
  }
  .sec2-head {
    width: 50%;
    height: 3em;
    border: 1px solid black;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(220, 216, 216);
  }
  
 
  .sec2-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70%;
  }
  .pair {
    display: flex;
    flex-direction: column;
    margin: 20px 8px 8px 20px;
    height: 50vh;
    width: 19em;
    justify-content: space-around;
    align-items: center;
  }
  
  .pair-image {
    width: 80%;
    border: 2px solid black;
    height: 50%;
    margin-top: 20px;
  }
  .pair-text {
    font-style: italic;
    width: 80%;
    border: 1px solid black;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(220, 216, 216);
  }
  
  
  .footer {
    height: 30vh;
    display: flex;
    width: 100%;
    justify-content: start;
    flex-direction: column;
  }
  .footer-text {
    height: 90%;
    display: flex;
    flex-direction: row;
  }
  .footer-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    padding: 10px;
  }
  
  .signup-upper {
    border: 1px solid black;
    width: 60%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .signup-lower {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 2em;
    width: 100%;
  }
  .email {
    width: 50%;
    height: 40px;
    border: 1px solid black;
  }
  .submit {
    width: 40%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
    background-color: rgb(220, 216, 216);
  }
  
  .footer-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-around;
  }
  .footer-right .nav-text {
    font-style: italic;
    width: 30%;
    height: 50%;
    border: 1px solid black;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(220, 216, 216);
  }
  
  .footer-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  .footer-social-icon {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
  }
  
  .social-icon {
    width: 50px;
    height: 50px;
  }
  
  
  